body {
    font-family: Roboto, system-ui, sans-serif;
}

div {
    box-sizing: border-box;
}

.board, .game-info {
    width: 84vw;
}

.game-info {
    margin: 0 auto 20px auto;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.game-info h2 {
    margin: 0;
}

.game-info button {
}

.board {
    margin: auto;
    outline: 1px solid black;
}

.row {
    display: flex;
}

.field {
    border: 1px solid black;
    width: 12vw;
    height: 12vw;
}

.piece {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin: 1vw;
}

.piece.blue {
    background-color: blue;
}

.piece.red {
    background-color: red;
}